.beneficios-section {
  background: transparent;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #bbbbbb;
}

/* CARDS */
.beneficio-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(4px);
  position: relative;
  overflow: hidden;
}

.beneficio-card:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0px 8px 20px var(--rojoOscuro);
}

/* ICONOS */
.beneficio-icon {
  font-size: 2.5rem;
  color: var(--rojoClaroGradiente);
  margin-bottom: 15px;
}

/* TITULO */
.beneficio-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ededed;
  margin-bottom: 10px;
}

/* DESCRIPCION */
.beneficio-description {
  color: #cfcfcf;
  font-size: 0.95rem;
}